.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 50px;
}

button{
    font-size: 11px;
    width: fit-content;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px;
}


.active{
    background-color: #008000;
    color: #fff;
}

.inactive{
    background-color: #880808;
    color: #fff;
}